<html layout:decorate="@{mily/common/layout}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>MilyX : MILY</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="flex-1 flex items-center justify-center" layout:fragment="content">
    <div class="container w-full px-4">
        <div style="display: flex !important;" class="my-4 justify-center">
            <i class="fa-solid fa-pen"></i>
            <span>글쓰기</span>
        </div>

        <form class="flex flex-col gap-6" method="POST" onsubmit="submitCreateForm(this); return false;"
              th:action="@{/milyx/create}">
            <div class="form-control">
                <span>
                    <i class="fa-solid fa-arrow-down"></i>
                    대분류를 선택해주세요.
                </span>
                <select name="firstCategory" id="firstCategory" class="my-2">
                    <option value="0" disabled selected>전체</option>
                    <option th:each="category : ${firstCategories}" th:text="${category.title}"
                            th:value="${category.id}"></option>
                </select>

                <span>
                    <i class="fa-solid fa-arrow-down"></i>
                    소분류를 선택해주세요.
                </span>
                <select name="secondCategory" id="secondCategory" class="my-2">
                    <option value="0" disabled selected>대분류를 선택해주세요.</option>
                </select>

                <span>
                    <i class="fa-solid fa-arrow-down"></i>
                    포인트를 설정해주세요.
                    <span th:text="'(보유 포인트 : ' + ${myPoint} + ')'"></span>
                </span>
                <select name="point" id="point" th:with="userPoint=${userPoint}" class="my-2">
                    <option th:each="i : ${pointOptions}" th:value="${i}" th:text="${i}"></option>
                </select>
                <label class="label">
                    <span class="label-text">제목</span>
                </label>
                <input class="input input-bordered" maxlength="100"
                       name="subject" placeholder="제목" type="text">
            </div>

            <div class="form-control">
                <label class="label">
                    <span class="label-text">내용</span>
                </label>
                <textarea class="textarea textarea-bordered h-[calc(100vh-450px)] min-h-[100px]" maxlength="20000"
                          name="body" placeholder="내용"
                ></textarea>
            </div>

            <div class="flex flex-col gap-2">
                <button class="btn btn-block btn-primary gap-1">
                    <i class="fa-solid fa-pen"></i>
                    <span>글쓰기</span>
                </button>
            </div>
        </form>

        <script th:inline="javascript">
            $('#firstCategory').change(function() {
                var firstCategoryId = $(this).val();

                $.ajax({
                    url: "/milyx/secondCategories",
                    method: 'GET',
                    data: { firstCategoryId: firstCategoryId },
                    success: function(data) {
                        // console.log('Data:', data);

                        $("#secondCategory").empty();

                        $.each(data, function (index, category) {
                            const option = $("<option>", { value: category.id, text: category.title });
                            $("#secondCategory").append(option);
                        });
                    },
                    error: function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    }
                });
            });
        </script>
        <script>
            let submitCreateFormDone = false;

            function submitCreateForm(form) {
                if (submitCreateFormDone) return;

                form.firstCategory.value = form.firstCategoryId.value;
                form.secondCategory.value = form.secondCategoryId.value;
                form.subject.value = form.subject.value.trim();

                if (form.subject.value.length == 0) {
                    form.subject.focus();
                    toastWarning('제목을 입력해주세요.');
                    return;
                }

                if (form.subject.value.length < 2) {
                    form.subject.focus();
                    toastWarning('제목을 2글자 이상 입력해주세요.');
                    return;
                }

                form.body.value = form.body.value.trim();

                if (form.body.value.length == 0) {
                    form.body.focus();
                    toastWarning('내용을 입력해주세요.');
                    return;
                }

                if (form.body.value.length < 2) {
                    form.body.focus();
                    toastWarning('내용을 2자 이상 입력해주세요.');
                    return;
                }

                form.submit();
                submitCreateFormDone = true;
            }
        </script>
    </div>
</div>
</body>
</html>