<html layout:decorate="@{mily/common/layout}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>마이 페이지 > 회원 정보 수정</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        const editForm = document['edit-form'];

        let submitEditFormDone = false;
        function submitEditForm(form) {
            if ( submitEditFormDone ) return;

            form.userPassword.value = form.userPassword.value.trim();

            if ( form.userPassword.value.length == 0 ) {
                form.userPassword.focus();
                toastWarning('변경할 비밀번호를 입력해주세요.');
                return;
            }
            if ( form.userPassword.value.length < 7 ) {
                form.userPassword.focus();
                toastWarning('비밀번호는 8글자 이상이어야 합니다..');
                return;
            }

            form.userPassword2.value = form.userPassword2.value.trim();

            if ( form.userPassword2.value.length == 0 ) {
                form.userPassword2.focus();
                toastWarning('비밀번호 확인 입력 란을 확인해주세요.');
                return;
            }
            if ( form.userPassword.value != form.userPassword2.value ) {
                form.userPassword2.focus();
                toastWarning('2개의 비밀번호가 일치하지 않습니다..');
                return;
            }

            form.submit();
            submitEditFormDone = true;
        }
    </script>
</head>
<body>
<section layout:fragment="content">
    <div th:include="mily/milyuser/information/layout/mypage_navbar :: navbar"
         style="display: block; align-items: center; margin-bottom: 30px;"></div>

    <span style="margin: 0 20%; font-size: 20px; font-weight: bold;" th:text="'비밀번호 변경'"></span>
    <div style="display: flex; border: 1px solid #93E6FB; border-radius: 10px; margin: 5px 19.5% 15px 19.5%; padding: 15px; font-size: 16px;"
         class="flex flex-col gap-6">

        <form th:action method="POST" name="edit-form" onsubmit="submitEditForm(this); return false;">
            <div style="display: flex; flex-direction: column;">
                <input type="password" id="userPassword" name="userPassword" th:placeholder="'변경할 비밀번호'"
                       style="border: 1px solid #c8c8c8; border-radius: 10px; padding: 10px; margin: 10px 25% 5px 25%;">
                <input type="password" id="userPassword2" name="userPassword2" th:placeholder="'비밀번호 확인'"
                       style="border: 1px solid #c8c8c8; border-radius: 10px; padding: 10px; margin: 5px 25%;">
            </div>
            <div style="display: flex; flex-direction: column;">
                <a th:href="@{/user/mypage/edit}"
                   style="border-radius: 10px; margin: 5px 25%; background-color: #93E6FB; color: black; font-size: 16px;"
                   class="btn btn-primary">
                    <button>
                        <i class="fa-solid fa-arrow-left">
                            <span>돌아가기</span>
                        </i>
                    </button>
                </a>
                <button class="btn btn-primary"
                        style="border-radius: 10px; margin: 5px 25% 10px 25%; background-color: #93E6FB; color: black; font-size: 16px;">
                    <i class="fa-solid fa-rotate">
                        <span>변경하기</span>
                    </i>
                </button>
            </div>
        </form>
    </div>

    <span style="margin: 0 20%; font-size: 20px; font-weight: bold;" th:text="'정보 수신/제공'"></span>
    <div style="display: flex; flex-direction: column; border: 1px solid #93E6FB; border-radius: 10px; margin: 5px 19.5% 15px 19.5%; padding: 15px; font-size: 16px;">
        <span>프로모션 정보 수신 동의</span>
        <div style="display: flex; justify-content: space-between; margin: 1px 0;">
            <i class="fa-solid fa-mobile-button" style="width: 88px; text-align: center;">
                <span th:text="' 휴대전화'"></span>
            </i>
            <input type="checkbox" class="toggle toggle-info" checked>
        </div>
        <div style="display: flex; justify-content: space-between; margin: 1px 0;">
            <i class="fa-solid fa-envelope" style="width: 72px; text-align: center;">
                <span th:text="'이메일'"></span>
            </i>
            <input type="checkbox" class="toggle toggle-info">
        </div>
        <br>

        <span>마케팅 정보 수신 동의</span>
        <div style="display: flex; justify-content: space-between; margin: 1px 0;">
            <i class="fa-solid fa-mobile-button" style="width: 88px; text-align: center;">
                <span th:text="' 휴대전화'"></span>
            </i>
            <input type="checkbox" class="toggle toggle-info">
        </div>
        <div style="display: flex; justify-content: space-between; margin: 1px 0;">
            <i class="fa-solid fa-envelope" style="width: 72px; text-align: center;">
                <span th:text="'이메일'"></span>
            </i>
            <input type="checkbox" class="toggle toggle-info">
        </div>
    </div>

    <a target="_blank" th:href="@{/user/mypage/withdraw}" style="margin: 0 20%;">
        <i class="fa-solid fa-delete-left" style="width: 18px; text-align: center;"></i>
        회원 탈퇴</a>
    <section th:replace="mily/common/footer :: footer"></section>
</section>
</body>
</html>