<html layout:decorate="@{mily/common/layout}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>견적 : MILY</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div layout:fragment="content">

    <form class="mt-20" th:action="@{/user/estimate}" method="post" style="border: 1px solid #75bdff;" onsubmit="submitestimateForm(this); return false;">

        <div class="fc_wrap">
            <span>1차 카테고리</span>
            <div id="firstCategory">
                <div th:each="firstCategory : ${firstCategories}">
                    <input type="checkbox" class="category-checkbox-1" th:id="'cat-' + ${firstCategory.id}" th:value="${firstCategory.id}" name="firstCategory">
                    <label class="category-label" th:for="'cat-' + ${firstCategory.id}" th:text="${firstCategory.title}"></label>
                </div>
            </div>

            <input class="fc_btn btn" value="선택완료">
        </div>

        <div class="pick_fc">dd</div>

        <!-- 2차 카테고리 -->
        <div class="sc_wrap">
            <span>2차 카테고리</span>
            <div id="secondCategory"></div>

            <input class="sc_btn btn" value="선택완료">
        </div>

        <!-- 지역 선택 -->
        <div class="area_wrap">
            <span>지역 선택</span>
            <div>
                <input name="area" type="checkbox" value="서울">서울</input>
                <input name="area" type="checkbox" value="경기">경기</input>
                <input name="area" type="checkbox" value="인천">인천</input>
                <input name="area" type="checkbox" value="세종">세종</input>
                <input name="area" type="checkbox" value="대전">대전</input>
                <input name="area" type="checkbox" value="대구">대구</input>
                <input name="area" type="checkbox" value="울산">울산</input>
                <input name="area" type="checkbox" value="광주">광주</input>
                <input name="area" type="checkbox" value="부산">부산</input>
                <input name="area" type="checkbox" value="제주">제주</input>
                <input name="area" type="checkbox" value="강원">강원</input>
                <input name="area" type="checkbox" value="경북">경북</input>
                <input name="area" type="checkbox" value="경남">경남</input>
                <input name="area" type="checkbox" value="충북">충북</input>
                <input name="area" type="checkbox" value="충남">충남</input>
                <input name="area" type="checkbox" value="전북">전북</input>
                <input name="area" type="checkbox" value="전남">전남</input>
            </div>

            <input class="area_btn btn" value="선택완료">
        </div>

        <!-- 하고싶은 말 -->
        <div class="body_wrap">
            <span>하고싶은 말</span>
            <textarea name="body" id="body" cols="30" rows="10" style="border: 1px solid #c8c8c8; width: 100%;"></textarea>
        </div>

        <!-- 보내기 버튼 -->
        <div class="btn_wrap" style="display: flex; justify-content: center;">
            <input type="submit" class="btn" value="보내기">
        </div>
    </form>


    <script>
        let submitestimateFormDone = false;
        function submitestimateForm(form) {
            if ( submitestimateFormDone ) return;

            form.body.value = form.body.value.trim();

            if ( form.body.value.length == 0 ) {
                form.body.focus();
                toastWarning('글을 작성해주세요.');
                return;
            }

            form.submit();
            submitestimateFormDone = true;
        }

        $('.category-checkbox-1').change(function() {
            if(this.checked) {
                var firstCategoryId = $(this).val();

                // 선택값 나오게
                var checkboxId = $(this).attr('id');
                var labelTitle = $('label[for="' + checkboxId + '"]').text();
                var pickFcDiv = $(".pick_fc");
                pickFcDiv.empty();

                pickFcDiv.append(labelTitle);

                // 다른 체크박스 선택 해제
                $('.category-checkbox-1').not(this).prop('checked', false);
                $(".sc_wrap").css('display', 'block');

                $.ajax({
                    url: "/milyx/secondCategories",
                    method: 'GET',
                    data: { firstCategoryId: firstCategoryId },
                    success: function(data) {

                        var secondCategoryDiv = $("#secondCategory");
                        secondCategoryDiv.empty();
                        $.each(data, function (index, category) {
                            var checkbox = $('<input>', { type: 'checkbox', class: 'category-checkbox-2', id: 'cat2-' + category.id, 'value': category.id , name : 'secondCategory' });
                            var label = $('<label>', { class: 'category-label', for: 'cat2-' + category.id, text: category.title });
                            secondCategoryDiv.append(checkbox).append(label);
                        });
                    },
                    error: function(request,status,error){
                        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                    }
                });
            } else {
                // 체크박스 선택 해제 시 2차 카테고리 초기화
                $("#secondCategory select").empty().append($('<option>', { value: "0", text: "대분류를 선택해주세요.", disabled: true, selected: true }));


                $(".sc_wrap").css('display', 'none');
            }
        });
    </script>
</div>

</body>
</html>