/* 폰트 설정 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

/* 노말라이즈 */
body, ul, li {
    margin: 0;
    padding : 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

/* CSS 파일 또는 <style> 태그 내에 추가 */
.blue-background {
    background-color: transparent; /* 배경색을 투명하게 설정 */
    color: #808080; /* 글자색 */
    padding: 5px; /* 내부 패딩 추가 */
    border-radius: 5px; /* 모서리를 둥글게 */
    /* 기타 스타일링 속성 추가 가능 */
}


.hashtag {
    background-color: #e1e1e1;
    color: blue;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* X축 위치, Y축 위치, 퍼짐, 색상 */
}

footer {
    margin-bottom: 50px; /* 또는 원하는 크기 */
}

body {
    padding-bottom: 50px; /* 또는 원하는 크기 */
}

.reply-form {
    margin-top: 50px; /* 상단 공백 */
}

.reply-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.reply-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.reply-form button:hover {
    background-color: #45a049;
}



